.copyright {
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    position: relative;
    left: 5px;
  }
}

.copyright__link {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: @contrasting-color;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.copyright__logo {
  position: relative;
  right: 4px;
  fill: @contrasting-color;
}

.copyright__link:hover {
  color: @primary-color;
}

.copyright__link:hover svg {
  fill: @primary-color;
}

.copyright__link:active {
  color: #b3b3b3;
}

.copyright__link:active svg {
  fill: #b3b3b3;
}

