.footer__hashtag {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.footer__social-list {
  list-style-type: none;
  padding: 0;
}

.footer__social-item {
  background-color: #81B3D2;
}
