.form {
  min-width: 280px;
  width: 87%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 52px;

  @media (min-width: @tablet-width) {
    width: 84%;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
    width: 80%;
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: none;
  margin-bottom: 64px;
  padding: 0;
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-bottom: 64px;
  }
}

.form__field::before {
  position: absolute;
  content: "";
  width: 120%;
  height: 1px;
  background-color: #e5e5e5;
  left: -10%;
  top: -50%;

  @media (min-width: @tablet-width) {
    width: 100%;
    background: linear-gradient(
      to right,
      #dbdbdb 19%,
      transparent 19%,
      transparent 82%,
      #dbdbdb 82%,
      #dbdbdb 100%
    );
    left: 0;
    top: -35px;
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(
      to right,
      #dbdbdb 29%,
      transparent 29%,
      transparent 71%,
      #dbdbdb 71%,
      #dbdbdb 100%
    );
  }
}

.form__field--name::before {
  top: -75px;

  @media (min-width: @tablet-width) {
    content: none;
  }
}

.form__field--contacts::before {
  @media (min-width: @tablet-width) {
    content: none;
  }
}

.form__field--attractions::before {
  @media (min-width: @tablet-width) {
    top: -45px;
  }
}

.form__title {
  margin-bottom: 20px;
}

.form__wrapper {
  @media (min-width: @tablet-width) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
  }

  @media (min-width: @desktop-width) {
    gap: 128px;
  }
}

.form__wrapper::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    content: "";
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
    left: 50%;
  }
}

.form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.form__label--pic::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateX(-50%);
  left: 90%;
  background-repeat: no-repeat;
}

.form__label--telephone::after {
  background-image: url("../img/phone.svg");
}

.form__label--email::after {
  background-image: url("../img/mail.svg");
}

.form__label-detailed {
  padding-left: 16px;
}

.form__label--control {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
}

.form__input {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;
  padding: 5%;
  box-sizing: border-box;
}

.form__input--detailed {
  padding: 16px;
  padding-bottom: 82px;

  @media (min-width: @tablet-width) {
    padding-bottom: 118px;
  }
}

.form__input--colored {
  background: linear-gradient(to right, #f2f2f2 80%, #e6e6e6 80%);
}

.form__list {
  display: flex;
  flex-direction: column;
  gap: 36px;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}

.form__control {
  display: flex;
}

.form__wrapper-button {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.form__button {
  width: 281px;
  padding: 18px 33px 13px 33px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 50%;
    margin: 0;
  }
}

.form__note {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  margin-left: 51%;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
    padding: 25px 0 25px 132px;
  }
}
