.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
}

.form__wrapper {
  margin: 0 auto;
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}

.form__label {
  font-family: "PT Sans";
  font-style: normal;
}

.form__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.form__label--control {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
}

.form__input {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__input--detailed {
  margin: 0 auto;
}

.form__list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}
@media (min-width: @desktop-width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: @desktop-width;
  padding-right: 173px;
  padding-left: 173px;
}
}

.form__note {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
}
