.gallery {
  min-width: 280px;
  width: 87%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 43px;

  @media (min-width: @tablet-width) {
    width: 84%;
    margin: 0 auto;
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
    width: 100%;
  }
}

.gallery__list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}

.gallery__item {
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 33%;
    flex-grow: 1;
  }
}

.gallery__item:first-child {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.gallery__item::after {
  position: absolute;
  content: "";
  width: 120%;
  height: 1px;
  background-color: #e5e5e5;
  left: -10%;
  bottom: -25px;

  @media (min-width: @tablet-width) {
    content: none;
  }
}

.gallery__main-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    box-sizing: border-box;
    padding: 0 20px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    margin-top: -89px;
    background-color: rgba(@contrasting-color, 0.3);
    color: @basic-color;
    padding-top: 22px;
    box-sizing: border-box;
  }
}

.gallery__wrapper-text {
  @media (min-width: @tablet-width) {
    width: 100%;
    margin-bottom: 11px;
  }
}

.gallery__photo {
  grid-column: 1/-1;
  width: 100%;
  object-fit: cover;
  margin-bottom: -1px;

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.gallery__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  grid-column: 1/-1;
  margin-top: 0;
  margin-bottom: 8px;
}

.gallery__author {
  grid-column: 1/-1;
  margin-top: 0;
  margin-bottom: 11px;

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.gallery__button-like {
  display: flex;
  gap: 5px;
  align-items: flex-end;
  padding: 0;
  background-color: transparent;
  border: none;
  color: @contrasting-color;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    color: @basic-color;
  }
}

.gallery__likes {
  font-weight: 700;
}

.gallery__button-like:hover,
.gallery__button-like:active {
  color: @primary-color;
}

.gallery__button-like:hover .gallery__button-like-icon,
.gallery__button-like:active .gallery__button-like-icon {
  fill: @primary-color;
  fill-opacity: 1;
}

.gallery__button-like-icon {
  fill-opacity: 0.3;

  @media (min-width: @desktop-width) {
    fill-opacity: 1;
  }
}
