.gallery {
  min-width: 280px;
  width: 87%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    width: 84%;
    margin: 0 auto;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
    width: 100%;
    margin-bottom: 61px;
  }
}

.gallery__list {
  display: flex;
  flex-direction: column;
  gap: 54px;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}

.gallery__item {
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 33%;
    flex-grow: 1;
  }
}

.gallery__item:first-child {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.gallery__item::after {
  position: absolute;
  content: "";
  width: 120%;
  height: 1px;
  background-color: #e5e5e5;
  left: -10%;
  bottom: -31px;

  @media (min-width: @tablet-width) {
    content: none;
  }
}

.gallery__item:nth-child(1)::before {
  position: absolute;
  content: "";
  width: 120%;
  height: 1px;
  background-color: #e5e5e5;
  left: -10%;
  top: -24px;

  @media (min-width: @tablet-width) {
    content: none;
  }
}

.gallery__main-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    box-sizing: border-box;
    padding: 0 20px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    margin-top: -89px;
    background-color: rgba(@contrasting-color, 0.3);
    color: @basic-color;
    padding-top: 40px;
    box-sizing: border-box;
    padding-bottom: 15px;
  }

  &--first {
    @media (min-width: @desktop-width) {
      padding-bottom: 18px;
    }
  }
}

.gallery__wrapper-text {
  @media (min-width: @tablet-width) {
    width: 100%;
    margin-bottom: 0;
  }
}

.gallery__photo {
  grid-column: 1/-1;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  height: auto;

  @media (min-width: @tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 6px;
    height: 267px;
  }

  &--first {
    @media (min-width: @desktop-width) {
      height: 400px;
      margin-bottom: 0px;
    }
  }
}

.gallery__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  grid-column: 1/-1;
  margin-top: 0;
  margin-bottom: 1px;

  @media (min-width: @desktop-width) {
    margin-top: -23px;
  }

  &--first {
    @media (min-width: @desktop-width) {
      margin-top: -17px;
    }
  }

  &--additional {
    @media (min-width: @desktop-width) {
      position: relative;
      top: -4px;
      margin-bottom: -4px;
    }
  }
}

.gallery__author {
  grid-column: 1/-1;
  margin-top: 0;
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.gallery__button-like {
  display: flex;
  gap: 14px;
  align-items: flex-end;
  padding: 0;
  background-color: transparent;
  border: none;
  color: @contrasting-color;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    position: relative;
    top: -12px;
    left: 1px;
    gap: 9px;
  }

  @media (min-width: @desktop-width) {
    color: @basic-color;
    top: -13px;
    left: -1px;
  }
}

.gallery__likes {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  position: relative;
  top: 3px;
}

.gallery__button-like:hover,
.gallery__button-like:active {
  color: @primary-color;
}

.gallery__button-like:hover .gallery__button-like-icon,
.gallery__button-like:active .gallery__button-like-icon {
  fill: @primary-color;
  fill-opacity: 1;
}

.gallery__button-like-icon {
  fill-opacity: 0.3;

  @media (min-width: @desktop-width) {
    fill-opacity: 1;
  }
}
