.main-navigation {
  @media (min-width: @tablet-width) {
    width: 88%;
    margin: 0 auto;
  }
}

.main-navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 320px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}

.main-navigation__item {
  background-color: @primary-color;
  padding: 16px 0;

  @media (min-width: @tablet-width) {
    background-color: @basic-color;
    width: 20%;
  }
}

.main-navigation__item:nth-child(2) {
  @media (min-width: @tablet-width) {
    margin-right: 20%;
  }
}

.main-navigation__link {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 14px;
  }
}
