.main-header {
  position: relative;
}

.main-header__logo-image {
  display: block;
  height: 96px;
  margin: 0 auto;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.main-header__button {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
