.search-hotels {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 18px;
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    padding: 0 155px;
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.search-hotels__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 26px;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-top: 62px;
    margin-bottom: 17px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 67px;
  }
}

.search-hotels__description {
  margin-bottom: 33px;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 49px;
    padding: 0 194px;
  }
}

.search-hotels__button {
  display: block;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    width: 458px;
  }
}
