.video-content {
  min-width: 280px;
  width: 87%;
  margin: 0 auto;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    width: 84%;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
    width: 66%;
  }
}

.video-content__title {
  margin-top: 0;
  margin-bottom: 34px;
  padding: 0 14px;
}

.video-content__description {
  margin-top: 0;
  margin-bottom: 38px;
  padding: 0 14px;
}

.video-content__video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: @contrasting-color;
}

.video-content__poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video-content__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 54px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.video-content__icon {
  fill: @basic-color;
  fill-opacity: 0.7;
}

.video-content__poster:hover .video-content__icon,
.video-content__button:focus .video-content__icon {
  fill-opacity: 1;
}
