.welcome {
  display: flex;
  background-image: url("../img/background-welcome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: @primary-color;
  height: 389px;
  margin: 0 auto;
  margin-top: -38px;
  min-width: 320px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}

.welcome__inscription {
  margin-top: 90px;
  margin-bottom: 85px;
  margin-right: auto;
  margin-left: auto;
}
