.welcome {
  display: flex;
  background-image: url("../img/welcome/intro-triangle.svg"),
    url("../img/welcome/back.jpg");
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-color: @primary-color;
  background-position: bottom center, center;
  height: 389px;
  margin: 0 auto;
  margin-top: -39px;
  min-width: 320px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/welcome/intro-triangle.svg"),
      url("../img/welcome/back@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    margin-top: 0;
    background-image: url("../img/welcome/intro-triangle.svg"),
      url("../img/welcome/back-desk.jpg");
    background-size: 100%, cover;
    height: 521px;
  }

  @media (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: url("../img/welcome/intro-triangle.svg"),
      url("../img/welcome/back-desk@2x.jpg");
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
    background-image: url("../img/welcome/intro-triangle-desk.svg"),
      url("../img/welcome/back-desk.jpg");
    height: 521px;
  }
}

.welcome--opened {
  @media (max-width: @mobile-width-only) {
    margin-top: -164px;
  }
}

.welcome--closed {
  margin-top: -38px;
}

.welcome--optional {
  height: 157px;

  @media (min-width: @tablet-width) {
    height: 293px;
  }

  @media (min-width: @desktop-width) {
    height: 304px;
  }
}

.welcome__inscription {
  margin-top: 90px;
  margin-bottom: 85px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: @tablet-width) {
    width: 461px;
    height: auto;
    margin-top: 82px;
  }
}

.welcome__inscription--optional {
  margin: auto;
  margin-top: 52px;

  @media (min-width: @tablet-width) {
    margin-top: 98px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 104px;
  }
}
